body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: url('img/') no-repeat center center fixed; /* Set the background image */
    background-size: cover; /* Cover the entire screen with the background image */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-container {
    width: 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent background color */
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #3498db;
    display: block;
    margin-top: 10px;
}

